<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll DIce</title>
</head>

<body>
    <h1>This is the Home page</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus in ullam illum a consequuntur ex vitae magnam
        aliquam qui itaque natus quod, sed ipsa? Commodi magnam cupiditate error eveniet, nisi impedit repellat amet
        fugiat numquam atque consequatur suscipit officia! Ipsa asperiores voluptatum optio exercitationem tempore?
        Possimus ullam vel perferendis!</p>

        <button>click me!</button>
</body>

</html>